<header class="header">
    <a href="/" class="header_logo">Blog</a>
    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
        </button>
    </div>
</header>