<div class="author">
    <h1 class="author_heading">Hello World, I'm Betiel</h1>
    <p class="author_body">I'm a MERN Full Stack Developer</p>
    <p class="author_body">Welcome to my blog site!</p>
</div>

<div class="image-container">
    <img src="/img/Women-in-Programming-1-2.jpeg" alt="women sitting in front of computer" class="programmer-image">
</div>

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>
</section>